.App {
	text-align: center;
	background-image: url(./images/background3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding:1rem;
  width:600px;
  height:500px;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ul {
	list-style-type: none;
}
